# registy.redhat.io
registry_url: 'registry.redhat.io'
registry_username: '{{ aap_registry_user }}'
registry_password: '{{ aap_registry_password }}'

automationedacontroller_allowed_hostnames:
  - {{ aap_eda_public }}

